@import url('./main-layout.css');
@import url('./views/gestiónde-empleados-view.css');
@import url('./views/gestiónde-puestos-view.css');
@import url('./views/direcciones-view.css');
@import url('./views/planilla-view.css');
@import url('@fontsource/abel/index.css');    html {
      --lumo-base-color: #f4f7ed;
      --lumo-primary-color: hsl(202, 80%, 38%);
      --lumo-primary-color-50pct: hsla(202, 80%, 38%, 0.5);
      --lumo-primary-color-10pct: hsla(202, 80%, 38%, 0.1);
      --lumo-primary-text-color: hsl(214, 90%, 32%);
      --lumo-line-height-m: 1.4;
      --lumo-line-height-s: 1.2;
      --lumo-line-height-xs: 1.1;
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
--lumo-font-family: Abel;

    }

    [theme~="dark"] {
      --lumo-primary-color: hsl(214, 87%, 37%);
      --lumo-primary-color-50pct: hsla(214, 87%, 37%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 87%, 37%, 0.1);
      --lumo-success-color: hsl(145, 68%, 48%);
      --lumo-success-color-50pct: hsla(145, 68%, 48%, 0.5);
      --lumo-success-color-10pct: hsla(145, 68%, 48%, 0.1);
      --lumo-shade: hsl(214, 31%, 27%);
      --lumo-shade-5pct: hsla(214, 31%, 27%, 0.05);
      --lumo-shade-10pct: hsla(214, 31%, 27%, 0.1);
      --lumo-shade-20pct: hsla(214, 31%, 27%, 0.2);
      --lumo-shade-30pct: hsla(214, 31%, 27%, 0.3);
      --lumo-shade-40pct: hsla(214, 31%, 27%, 0.4);
      --lumo-shade-50pct: hsla(214, 31%, 27%, 0.5);
      --lumo-shade-60pct: hsla(214, 31%, 27%, 0.6);
      --lumo-shade-70pct: hsla(214, 31%, 27%, 0.7);
      --lumo-shade-80pct: hsla(214, 31%, 27%, 0.8);
      --lumo-shade-90pct: hsla(214, 31%, 27%, 0.9);
      --lumo-base-color: hsl(208, 57%, 18%);
      --lumo-body-text-color: hsla(214, 24%, 75%, 0.9);

    }
